/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.11.18-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: techkepper_command_center
-- ------------------------------------------------------
-- Server version	10.11.18-MariaDB-ubu2204

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `BusinessClientDocuments`
--

DROP TABLE IF EXISTS `BusinessClientDocuments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `BusinessClientDocuments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `businessClientId` int(11) NOT NULL,
  `documentId` int(11) NOT NULL,
  `linkedById` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_business_client_documents_document` (`documentId`),
  KEY `idx_business_client_documents_client` (`businessClientId`),
  KEY `idx_business_client_documents_linked_by` (`linkedById`),
  CONSTRAINT `fk_business_client_documents_client` FOREIGN KEY (`businessClientId`) REFERENCES `BusinessClients` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_business_client_documents_document` FOREIGN KEY (`documentId`) REFERENCES `SmartDocuments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_business_client_documents_linked_by` FOREIGN KEY (`linkedById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `BusinessClientDocuments`
--

LOCK TABLES `BusinessClientDocuments` WRITE;
/*!40000 ALTER TABLE `BusinessClientDocuments` DISABLE KEYS */;
INSERT INTO `BusinessClientDocuments` VALUES
(2,2,4,1,'2026-06-24 00:12:17','2026-06-24 00:12:17'),
(8,2,10,1,'2026-06-24 13:53:12','2026-06-24 13:53:12'),
(16,1,18,1,'2026-06-24 14:28:44','2026-06-24 14:28:44'),
(17,1,19,1,'2026-06-24 14:31:15','2026-06-24 14:31:15');
/*!40000 ALTER TABLE `BusinessClientDocuments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `BusinessClients`
--

DROP TABLE IF EXISTS `BusinessClients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `BusinessClients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` enum('physical','legal') NOT NULL,
  `displayName` varchar(255) NOT NULL,
  `legalName` varchar(255) DEFAULT NULL,
  `tradeName` varchar(255) DEFAULT NULL,
  `identificationType` varchar(80) NOT NULL,
  `identificationNumber` varchar(80) NOT NULL,
  `normalizedIdentificationNumber` varchar(80) NOT NULL,
  `legalRepresentativeName` varchar(255) DEFAULT NULL,
  `legalRepresentativeId` varchar(80) DEFAULT NULL,
  `legalRepresentativePosition` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(80) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `country` varchar(120) DEFAULT NULL,
  `province` varchar(120) DEFAULT NULL,
  `canton` varchar(120) DEFAULT NULL,
  `district` varchar(120) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `queueId` int(11) DEFAULT NULL,
  `createdById` int(11) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_business_clients_identification` (`normalizedIdentificationNumber`),
  KEY `idx_business_clients_display_name` (`displayName`),
  KEY `idx_business_clients_queue` (`queueId`),
  KEY `idx_business_clients_active` (`isActive`),
  KEY `idx_business_clients_created_by` (`createdById`),
  CONSTRAINT `fk_business_clients_created_by` FOREIGN KEY (`createdById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_business_clients_queue` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `BusinessClients`
--

LOCK TABLES `BusinessClients` WRITE;
/*!40000 ALTER TABLE `BusinessClients` DISABLE KEYS */;
INSERT INTO `BusinessClients` VALUES
(1,'physical','Luis perez solozano',NULL,NULL,'C├®dula f├¡sica','112340567','112340567',NULL,NULL,NULL,'aaa@tech.com','88888888','casitaa','Costa Rica','alajuela','poas','carrillos','Nota de prueba',NULL,1,1,'2026-06-23 18:51:11','2026-06-23 18:51:11',NULL),
(2,'legal','Casita S,A,','Casita lux','Casita lux','C├®dula jur├¡dica','3101888888','3101888888','Pablico corrales','112340567','Gerente general','asd@tfs.com','88888888','Casita linda','Costa Rica','San Jose','San pedro','lindora','Prueba 2',NULL,1,1,'2026-06-23 18:52:42','2026-06-24 00:05:33',NULL);
/*!40000 ALTER TABLE `BusinessClients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `CollaboratorDocuments`
--

DROP TABLE IF EXISTS `CollaboratorDocuments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `CollaboratorDocuments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `collaboratorId` int(11) NOT NULL,
  `documentId` int(11) NOT NULL,
  `linkedById` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `documentId` (`documentId`),
  KEY `collaboratorId` (`collaboratorId`),
  KEY `linkedById` (`linkedById`),
  CONSTRAINT `collaboratordocuments_ibfk_1` FOREIGN KEY (`collaboratorId`) REFERENCES `Collaborators` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `collaboratordocuments_ibfk_2` FOREIGN KEY (`documentId`) REFERENCES `SmartDocuments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `collaboratordocuments_ibfk_3` FOREIGN KEY (`linkedById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `CollaboratorDocuments`
--

LOCK TABLES `CollaboratorDocuments` WRITE;
/*!40000 ALTER TABLE `CollaboratorDocuments` DISABLE KEYS */;
INSERT INTO `CollaboratorDocuments` VALUES
(2,2,29,1,'2026-06-24 15:37:24','2026-06-24 15:37:24'),
(5,2,32,1,'2026-06-24 16:07:25','2026-06-24 16:07:25');
/*!40000 ALTER TABLE `CollaboratorDocuments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Collaborators`
--

DROP TABLE IF EXISTS `Collaborators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Collaborators` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fullName` varchar(255) NOT NULL,
  `identificationType` varchar(80) NOT NULL,
  `identificationNumber` varchar(80) NOT NULL,
  `normalizedIdentificationNumber` varchar(80) NOT NULL,
  `contractualDenomination` enum('LA CONTRATISTA','EL CONTRATISTA') NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(80) DEFAULT NULL,
  `address` varchar(500) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `queueId` int(11) DEFAULT NULL,
  `createdById` int(11) NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `normalizedIdentificationNumber` (`normalizedIdentificationNumber`),
  KEY `queueId` (`queueId`),
  KEY `createdById` (`createdById`),
  CONSTRAINT `collaborators_ibfk_1` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `collaborators_ibfk_2` FOREIGN KEY (`createdById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Collaborators`
--

LOCK TABLES `Collaborators` WRITE;
/*!40000 ALTER TABLE `Collaborators` DISABLE KEYS */;
INSERT INTO `Collaborators` VALUES
(2,'Alberto Paniagua','C├®dula de identidad','2-3569-8888','235698888','EL CONTRATISTA','acvv@tidns.com','8888-5564','Casita bonita','Hola prueba',NULL,1,1,'2026-06-24 15:37:05','2026-06-24 15:37:05',NULL);
/*!40000 ALTER TABLE `Collaborators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ContactCustomFields`
--

DROP TABLE IF EXISTS `ContactCustomFields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ContactCustomFields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `value` varchar(255) NOT NULL,
  `contactId` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `contactId` (`contactId`),
  CONSTRAINT `contactcustomfields_ibfk_1` FOREIGN KEY (`contactId`) REFERENCES `Contacts` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ContactCustomFields`
--

LOCK TABLES `ContactCustomFields` WRITE;
/*!40000 ALTER TABLE `ContactCustomFields` DISABLE KEYS */;
/*!40000 ALTER TABLE `ContactCustomFields` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Contacts`
--

DROP TABLE IF EXISTS `Contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Contacts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `number` varchar(255) DEFAULT NULL,
  `profilePicUrl` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `email` varchar(255) NOT NULL DEFAULT '',
  `isGroup` tinyint(1) NOT NULL DEFAULT 0,
  `lid` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `number` (`number`),
  UNIQUE KEY `lid` (`lid`),
  UNIQUE KEY `number_2` (`number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Contacts`
--

LOCK TABLES `Contacts` WRITE;
/*!40000 ALTER TABLE `Contacts` DISABLE KEYS */;
INSERT INTO `Contacts` VALUES
(1,'Tech Movistar','50660689491','https://pps.whatsapp.net/v/t61.24694-24/462393867_831563395804245_7460625878200580707_n.jpg?ccb=11-4&oh=01_Q5Aa4wFirSlAx5pgoRait73hH6natbGPehrunHBxerWxnaQv0A&oe=6A36E766&_nc_sid=5e03e0&_nc_cat=110','2026-06-10 20:09:04','2026-06-10 20:09:04','',0,NULL);
/*!40000 ALTER TABLE `Contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Ecosystems`
--

DROP TABLE IF EXISTS `Ecosystems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Ecosystems` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `color` varchar(255) NOT NULL DEFAULT '#8ee63f',
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Ecosystems`
--

LOCK TABLES `Ecosystems` WRITE;
/*!40000 ALTER TABLE `Ecosystems` DISABLE KEYS */;
INSERT INTO `Ecosystems` VALUES
(1,'Techkepper Web','#7c4dff',1,'2026-06-09 18:44:28','2026-06-09 18:44:28'),
(2,'Techkepper Secure','#ff7043',1,'2026-06-09 18:44:28','2026-06-09 18:44:28'),
(3,'Techkepper Growth','#8ee63f',1,'2026-06-09 18:44:28','2026-06-09 18:44:28'),
(4,'Techkepper Automate','#29b6f6',1,'2026-06-09 18:44:28','2026-06-09 18:44:28'),
(5,'Techkepper Green','#43a047',1,'2026-06-09 18:44:28','2026-06-09 18:44:28');
/*!40000 ALTER TABLE `Ecosystems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Messages`
--

DROP TABLE IF EXISTS `Messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Messages` (
  `id` varchar(255) NOT NULL,
  `body` text NOT NULL,
  `ack` int(11) NOT NULL DEFAULT 0,
  `read` tinyint(1) NOT NULL DEFAULT 0,
  `mediaType` varchar(255) DEFAULT NULL,
  `mediaUrl` varchar(255) DEFAULT NULL,
  `ticketId` int(11) NOT NULL,
  `createdAt` datetime(6) NOT NULL,
  `updatedAt` datetime(6) NOT NULL,
  `fromMe` tinyint(1) NOT NULL DEFAULT 0,
  `isDeleted` tinyint(1) NOT NULL DEFAULT 0,
  `contactId` int(11) DEFAULT NULL,
  `quotedMsgId` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ticketId` (`ticketId`),
  KEY `Messages_contactId_foreign_idx` (`contactId`),
  KEY `Messages_quotedMsgId_foreign_idx` (`quotedMsgId`),
  CONSTRAINT `Messages_contactId_foreign_idx` FOREIGN KEY (`contactId`) REFERENCES `Contacts` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Messages_quotedMsgId_foreign_idx` FOREIGN KEY (`quotedMsgId`) REFERENCES `Messages` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `messages_ibfk_2` FOREIGN KEY (`ticketId`) REFERENCES `Tickets` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Messages`
--

LOCK TABLES `Messages` WRITE;
/*!40000 ALTER TABLE `Messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `Messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Queues`
--

DROP TABLE IF EXISTS `Queues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Queues` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `color` varchar(255) NOT NULL,
  `greetingMessage` text DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `color` (`color`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Queues`
--

LOCK TABLES `Queues` WRITE;
/*!40000 ALTER TABLE `Queues` DISABLE KEYS */;
/*!40000 ALTER TABLE `Queues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `QuickAnswers`
--

DROP TABLE IF EXISTS `QuickAnswers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `QuickAnswers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `shortcut` text NOT NULL,
  `message` text NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `queueId` int(11) DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `QuickAnswers_queueId_foreign_idx` (`queueId`),
  CONSTRAINT `QuickAnswers_queueId_foreign_idx` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `QuickAnswers`
--

LOCK TABLES `QuickAnswers` WRITE;
/*!40000 ALTER TABLE `QuickAnswers` DISABLE KEYS */;
/*!40000 ALTER TABLE `QuickAnswers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SequelizeMeta`
--

DROP TABLE IF EXISTS `SequelizeMeta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `SequelizeMeta` (
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SequelizeMeta`
--

LOCK TABLES `SequelizeMeta` WRITE;
/*!40000 ALTER TABLE `SequelizeMeta` DISABLE KEYS */;
/*!40000 ALTER TABLE `SequelizeMeta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Settings`
--

DROP TABLE IF EXISTS `Settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Settings` (
  `key` varchar(255) NOT NULL,
  `value` text NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Settings`
--

LOCK TABLES `Settings` WRITE;
/*!40000 ALTER TABLE `Settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `Settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SmartDocumentTemplateVersions`
--

DROP TABLE IF EXISTS `SmartDocumentTemplateVersions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `SmartDocumentTemplateVersions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `templateId` int(11) NOT NULL,
  `version` int(11) NOT NULL,
  `originalName` varchar(255) NOT NULL,
  `storedName` varchar(255) NOT NULL,
  `storagePath` varchar(500) NOT NULL,
  `mimeType` varchar(150) NOT NULL,
  `size` int(11) NOT NULL,
  `detectedVariables` text NOT NULL,
  `requiredVariables` text NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `uploadedById` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_smart_document_template_version` (`templateId`,`version`),
  KEY `idx_smart_document_template_versions_template` (`templateId`),
  KEY `idx_smart_document_template_versions_uploaded_by` (`uploadedById`),
  CONSTRAINT `fk_smart_document_template_versions_template` FOREIGN KEY (`templateId`) REFERENCES `SmartDocumentTemplates` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_document_template_versions_uploaded_by` FOREIGN KEY (`uploadedById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SmartDocumentTemplateVersions`
--

LOCK TABLES `SmartDocumentTemplateVersions` WRITE;
/*!40000 ALTER TABLE `SmartDocumentTemplateVersions` DISABLE KEYS */;
/*!40000 ALTER TABLE `SmartDocumentTemplateVersions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SmartDocumentTemplates`
--

DROP TABLE IF EXISTS `SmartDocumentTemplates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `SmartDocumentTemplates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `category` varchar(120) DEFAULT NULL,
  `documentType` varchar(120) DEFAULT NULL,
  `purpose` varchar(80) DEFAULT NULL,
  `requiresClient` tinyint(1) NOT NULL DEFAULT 0,
  `allowGenericRecipient` tinyint(1) NOT NULL DEFAULT 0,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdById` int(11) NOT NULL,
  `queueId` int(11) DEFAULT NULL,
  `ecosystemId` int(11) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_smart_document_templates_created_by` (`createdById`),
  KEY `idx_smart_document_templates_queue` (`queueId`),
  KEY `idx_smart_document_templates_ecosystem` (`ecosystemId`),
  KEY `idx_smart_document_templates_updated_at` (`updatedAt`),
  KEY `idx_smart_document_templates_purpose` (`purpose`),
  KEY `idx_smart_document_templates_document_type` (`documentType`),
  CONSTRAINT `fk_smart_document_templates_created_by` FOREIGN KEY (`createdById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_document_templates_ecosystem` FOREIGN KEY (`ecosystemId`) REFERENCES `Ecosystems` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_document_templates_queue` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SmartDocumentTemplates`
--

LOCK TABLES `SmartDocumentTemplates` WRITE;
/*!40000 ALTER TABLE `SmartDocumentTemplates` DISABLE KEYS */;
/*!40000 ALTER TABLE `SmartDocumentTemplates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `SmartDocuments`
--

DROP TABLE IF EXISTS `SmartDocuments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `SmartDocuments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `originalName` varchar(255) NOT NULL,
  `storedName` varchar(255) NOT NULL,
  `storagePath` varchar(500) NOT NULL,
  `mimeType` varchar(150) NOT NULL,
  `size` int(11) NOT NULL,
  `category` varchar(120) DEFAULT NULL,
  `purpose` varchar(80) DEFAULT NULL,
  `tags` text DEFAULT NULL,
  `uploadedById` int(11) NOT NULL,
  `contactId` int(11) DEFAULT NULL,
  `ticketId` int(11) DEFAULT NULL,
  `queueId` int(11) DEFAULT NULL,
  `ecosystemId` int(11) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `deletedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_smart_documents_uploaded_by` (`uploadedById`),
  KEY `idx_smart_documents_contact` (`contactId`),
  KEY `idx_smart_documents_ticket` (`ticketId`),
  KEY `idx_smart_documents_queue` (`queueId`),
  KEY `idx_smart_documents_ecosystem` (`ecosystemId`),
  KEY `idx_smart_documents_created_at` (`createdAt`),
  KEY `idx_smart_documents_purpose` (`purpose`),
  CONSTRAINT `fk_smart_documents_contact` FOREIGN KEY (`contactId`) REFERENCES `Contacts` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_documents_ecosystem` FOREIGN KEY (`ecosystemId`) REFERENCES `Ecosystems` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_documents_queue` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_documents_ticket` FOREIGN KEY (`ticketId`) REFERENCES `Tickets` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_smart_documents_uploaded_by` FOREIGN KEY (`uploadedById`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `SmartDocuments`
--

LOCK TABLES `SmartDocuments` WRITE;
/*!40000 ALTER TABLE `SmartDocuments` DISABLE KEYS */;
/*!40000 ALTER TABLE `SmartDocuments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TicketAssignmentEvents`
--

DROP TABLE IF EXISTS `TicketAssignmentEvents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `TicketAssignmentEvents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticketId` int(11) NOT NULL,
  `oldUserId` int(11) DEFAULT NULL,
  `newUserId` int(11) DEFAULT NULL,
  `performedByUserId` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `autoMessageStatus` varchar(255) NOT NULL DEFAULT 'not_applicable',
  `autoMessageError` text DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ticketId` (`ticketId`),
  KEY `oldUserId` (`oldUserId`),
  KEY `newUserId` (`newUserId`),
  KEY `performedByUserId` (`performedByUserId`),
  CONSTRAINT `ticketassignmentevents_ibfk_1` FOREIGN KEY (`ticketId`) REFERENCES `Tickets` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ticketassignmentevents_ibfk_2` FOREIGN KEY (`oldUserId`) REFERENCES `Users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `ticketassignmentevents_ibfk_3` FOREIGN KEY (`newUserId`) REFERENCES `Users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `ticketassignmentevents_ibfk_4` FOREIGN KEY (`performedByUserId`) REFERENCES `Users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TicketAssignmentEvents`
--

LOCK TABLES `TicketAssignmentEvents` WRITE;
/*!40000 ALTER TABLE `TicketAssignmentEvents` DISABLE KEYS */;
INSERT INTO `TicketAssignmentEvents` VALUES
(1,1,NULL,1,1,'take','sent',NULL,'2026-06-10 20:09:16','2026-06-10 20:09:16'),
(2,1,1,3,1,'reassignment','skipped','La conexion de WhatsApp no esta activa o el contacto no es valido.','2026-06-23 13:00:45','2026-06-23 13:00:45');
/*!40000 ALTER TABLE `TicketAssignmentEvents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tickets`
--

DROP TABLE IF EXISTS `Tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tickets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status` varchar(255) NOT NULL DEFAULT 'pending',
  `lastMessage` text DEFAULT NULL,
  `contactId` int(11) DEFAULT NULL,
  `userId` int(11) DEFAULT NULL,
  `createdAt` datetime(6) NOT NULL,
  `updatedAt` datetime(6) NOT NULL,
  `whatsappId` int(11) DEFAULT NULL,
  `isGroup` tinyint(1) NOT NULL DEFAULT 0,
  `unreadMessages` int(11) DEFAULT NULL,
  `queueId` int(11) DEFAULT NULL,
  `ecosystemId` int(11) DEFAULT NULL,
  `firstResponseAt` datetime DEFAULT NULL,
  `closedAt` datetime DEFAULT NULL,
  `lastCustomerMessageId` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contactId` (`contactId`),
  KEY `userId` (`userId`),
  KEY `Tickets_whatsappId_foreign_idx` (`whatsappId`),
  KEY `Tickets_queueId_foreign_idx` (`queueId`),
  KEY `Tickets_ecosystemId_foreign_idx` (`ecosystemId`),
  CONSTRAINT `Tickets_ecosystemId_foreign_idx` FOREIGN KEY (`ecosystemId`) REFERENCES `Ecosystems` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Tickets_queueId_foreign_idx` FOREIGN KEY (`queueId`) REFERENCES `Queues` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Tickets_whatsappId_foreign_idx` FOREIGN KEY (`whatsappId`) REFERENCES `Whatsapps` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`contactId`) REFERENCES `Contacts` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `tickets_ibfk_2` FOREIGN KEY (`userId`) REFERENCES `Users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tickets`
--

LOCK TABLES `Tickets` WRITE;
/*!40000 ALTER TABLE `Tickets` DISABLE KEYS */;
INSERT INTO `Tickets` VALUES
(1,'open','prueba de whatsapp',1,3,'2026-06-10 20:09:04.000000','2026-06-23 13:00:45.000000',2,0,0,NULL,NULL,'2026-06-10 20:09:16',NULL,NULL);
/*!40000 ALTER TABLE `Tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UserQueues`
--

DROP TABLE IF EXISTS `UserQueues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `UserQueues` (
  `userId` int(11) NOT NULL,
  `queueId` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`userId`,`queueId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UserQueues`
--

LOCK TABLES `UserQueues` WRITE;
/*!40000 ALTER TABLE `UserQueues` DISABLE KEYS */;
INSERT INTO `UserQueues` VALUES
(1,5,'2026-06-09 18:50:43','2026-06-09 18:50:43'),
(2,6,'2026-06-10 14:35:19','2026-06-10 14:35:19');
/*!40000 ALTER TABLE `UserQueues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Users`
--

DROP TABLE IF EXISTS `Users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `profile` varchar(255) NOT NULL DEFAULT 'admin',
  `tokenVersion` int(11) NOT NULL DEFAULT 0,
  `whatsappId` int(11) DEFAULT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `theme` varchar(255) NOT NULL DEFAULT 'dark',
  `lastActivityAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `Users_whatsappId_foreign_idx` (`whatsappId`),
  CONSTRAINT `Users_whatsappId_foreign_idx` FOREIGN KEY (`whatsappId`) REFERENCES `Whatsapps` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Users`
--

LOCK TABLES `Users` WRITE;
/*!40000 ALTER TABLE `Users` DISABLE KEYS */;
/*!40000 ALTER TABLE `Users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `WhatsappQueues`
--

DROP TABLE IF EXISTS `WhatsappQueues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `WhatsappQueues` (
  `whatsappId` int(11) NOT NULL,
  `queueId` int(11) NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`whatsappId`,`queueId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `WhatsappQueues`
--

LOCK TABLES `WhatsappQueues` WRITE;
/*!40000 ALTER TABLE `WhatsappQueues` DISABLE KEYS */;
/*!40000 ALTER TABLE `WhatsappQueues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Whatsapps`
--

DROP TABLE IF EXISTS `Whatsapps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Whatsapps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session` text DEFAULT NULL,
  `qrcode` text DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `battery` varchar(255) DEFAULT NULL,
  `plugged` tinyint(1) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  `name` varchar(255) NOT NULL,
  `isDefault` tinyint(1) NOT NULL DEFAULT 0,
  `retries` int(11) NOT NULL DEFAULT 0,
  `greetingMessage` text DEFAULT NULL,
  `farewellMessage` text DEFAULT NULL,
  `phoneNumberId` varchar(64) DEFAULT NULL,
  `graphApiVersion` varchar(16) NOT NULL DEFAULT 'v25.0',
  `accessTokenEncrypted` text DEFAULT NULL,
  `appSecretEncrypted` text DEFAULT NULL,
  `verifyTokenEncrypted` text DEFAULT NULL,
  `cloudApiVerifiedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Whatsapps`
--

LOCK TABLES `Whatsapps` WRITE;
/*!40000 ALTER TABLE `Whatsapps` DISABLE KEYS */;
INSERT INTO `Whatsapps` VALUES
(2,NULL,'','CONNECTED',NULL,NULL,'2026-06-11 14:16:04','2026-06-24 16:33:15','tECH',1,0,'','',NULL,'v25.0',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `Whatsapps` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-24 14:35:00
